#discountForm {
    display: flex;
    flex-direction: column;
}
#discountForm div {
    display: flex;
    flex-direction: column;
}
#discountForm input{
    width: 10%;
}
#discountForm input[type=submit]{
    margin: 10px 0;
}
#pricePreview {
    margin:10px 0;
}
.errorMessage{
    border: 1px solid red;
    color:red;
    width: 20%;
}
#discountList {
    text-align: center;
}
.dataTables_length select {
    padding: 0 15px !important;
    text-align: center;
}